//This file should be imported first in all SCSS/SASS files.

@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--clr-on-background);
    background-color: var(--clr-background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-on-surface);
    font-weight: 700;
}

h1 {
    font-size: var(--fs-larger);
}

p {
    color: var(--clr-on-surface);
    font-family: 'Roboto', sans-serif; 

    &.under-title {
        color: var(--clr-surface-variant);
        font-style: italic;
        font-size: var(--fs-smaller);
    }
}

li {
    list-style: none;
}

a {
    color: var(--clr-on-surface);
    text-decoration: none;

    &.link {
        color: var(--clr-primary);
        text-decoration: underline;
    }
}

label {
    font-size: var(--fs-small);
    color: var(--clr-on-footer-variant);
}

img {
    display: block;
}

// Input
input {
    width: 100%;
    border-radius: 5px;
    font-size: var(--fs-small);
    border: 2px solid transparent;
    margin-bottom: 0.5rem;
    padding: 2px;
    
    &:focus {
        outline: none;
        border-color: var(--clr-primary);
    }

    &[type="submit"] {
        margin-top: 0.5rem;
    }
}

textarea {
    @extend input;

    resize: none;
}

button {
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.2s ease;

    // Default button styles
    // Uses primary colors
    &.button-primary {
        color: var(--clr-surface);
        background-color: var(--clr-on-surface);
        
        &:hover {
            background-color: var(--clr-primary);
        }
    }
    
    // Uses primary color and turns hollow
    &.button-primary-hollow {
        color: var(--clr-on-primary);
        background-color: var(--clr-primary);
        border: 2px solid rgba($color: #000000, $alpha: 0);
        
        &:hover {
            color: var(--clr-primary);
            background-color: rgba($color: #000000, $alpha: 0);
            border-color: var(--clr-primary);
        }
    }
    
    // Uses surface-variant color
    &.button-surface-hollow {
        color: var(--clr-on-surface);
        background-color: var(--clr-surface-variant);
        border: 2px solid var(--clr-transparent);
    
        &:hover {
            color: var(--clr-primary);
            background-color: rgba($color: #000000, $alpha: 0);
            border-color: var(--clr-primary);
        }
    }
}

section {
    margin: 2rem 1rem;

    // Has a header
    &.section-header {
        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

    // Has another background color (is full width of window)
    &.section-background {
        background-color: var(--clr-surface);
        margin: 0;
    }

    // Contains lists of items (used in popular categories section)
    &.section-lists {
        .lists {
            @include cardGrid();
            //@include displayGrid(14rem, 1.25rem);
    
            .list {
                a {
                    color: var(--clr-primary);
                    text-decoration: underline;
                }
    
                p {
                    color: var(--clr-on-surface-variant);
                    font-size: var(--fs-small);
                    margin-top: 0.25rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
    
        button:last-child {
            margin-top: 1rem;
        }
    }

    // Two panels next to eachother
    &.section-split .content {
        @include displayGrid(20rem, 2rem);
    
        .text {
            h1 {
                margin-bottom: 0.5rem;
            }
    
            p {
    
                &:last-child {
                    margin-bottom: 1rem;
                }
            }
    
            button {
                margin-top: 1.5rem;
            }
        }
    
        /*.image {
            width: 100%;
            height: 100%;
            object-fit: cover;
    
            img {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }*/

        .image {
            width: 100%;
            height: 100%;

            img {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
            }
        }
    }

    // Has icons with text
    &.section-icons {
        .wrapper-margin {
            padding: 1rem;
        }

        .icons {
            display: flex;
            justify-content: space-around;
    
            .icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                i {
                    margin-right: 1rem;
                    font-size: 2rem;
                    background-color: var(--clr-surface-variant);
                    border-radius: 50%;
                    padding: 0.5rem;
                }
    
                p {
                    font-size: var(--fs-medium);

                    @media screen and (max-width: 60rem) {
                        display: none;
                    }
                }
            }
        }
    }
}

// Wrappers
.wrapper {
    max-width: var(--ss-wrapper);
    margin-inline: auto;
}

.wrapper-margin {
    @extend .wrapper;
    padding: 1rem;
}

// Logo / company container
.logo-container {
    display: flex;
    align-items: center;

    &.logo-normal {
        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            h4 {
                font-size: var(--fs-large);
            }
    
            p {
                color: var(--clr-surface-variant);
                font-style: italic;
                font-size: var(--fs-smaller);
            }
        }
    
        img {
            margin-right: 1rem;
            width: 3rem;
            background-color: var(--clr-primary);
            border-radius: 25%;
        }
    }

    &.logo-small {
        img {
            margin-right: 1rem;
            width: 2rem;
            background-color: var(--clr-primary);
            border-radius: 20%;
        }
    }
}

// Grid and cards
.card-grid {
    //@include displayGrid(225px, 20px);
    @include cardGrid();
}

.card {
    overflow: hidden;

    /*
    box-shadow: 0px 1px 10px var(--clr-shadow);

    &:hover {
        transform: scale(1.01);
        transition: transform 0.1s ease-in;
        box-shadow: 0px 2px 30px var(--clr-shadow);
    }*/
}

.guide-card {
    @extend .card;

    //background-color: var(--clr-surface);
    //border-radius: 5%;
    border: 1px solid black;

    a {
        width: 100%;
        height: 100%;
        background-color: blue;
    }

    img {
        width: 100%;
        height: 50%;
        display: inline-block;
        object-fit: cover;
    }

    .title {
        font-size: var(--fs-large);
        color: var(--clr-dark);
        line-height: 1.5rem;
    }

    .creator {
        font-size: var(--fs-small);
        color: var(--clr-on-surface-variant);
    }

    .tags {
        display: flex;
        gap: 0.5rem;

        .tag {
            font-size: var(--fs-smaller);
            padding: 0 0.5rem;
            line-height: 1.5em;
            
            color: var(--clr-on-primary);
            background-color: var(--clr-primary);
        }
    }

}

#button-back-to-top {
    position: fixed;
    padding: 0.5rem;
    border-radius: 50px;
    background-color: var(--clr-surface-variant);
    bottom: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    transition: bottom 0.5s ease;

    &.hide {
        bottom: -10rem;
    }
}