/*
This file should be imported first in all SCSS/SASS files.
*/

@import "variables";
@import "mixins";

// Maybe import fonts

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: $color-on-background;
    background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-on-surface;
    font-weight: 700;
}

h1 {
    font-size: 24px;
}

p {
    color: $color-on-surface;
    font-family: 'Roboto', sans-serif; 

    &.under-title {
        color: $color-surface-variant;
        font-style: italic;
        font-size: 12px;
    }
}

li {
    list-style: none;
}

a {
    color: $color-on-surface;
    text-decoration: none;

    &.link {
        color: $color-primary;
        text-decoration: underline;
    }
}

img {
    display: block;
}

button {
    border: none;
    font-weight: 700;
    padding: 12px 28px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.2s ease;

    // Default button styles
    // Uses primary colors
    &.button-primary {
        color: $color-surface;
        background-color: $color-on-surface;
    
        &:hover {
            background-color: $color-primary;
        }
    }
    
    // Uses primary color and turns hollow
    &.button-primary-hollow {
        color: $color-on-primary;
        background-color: $color-primary;
        border: 2px solid rgba($color: #000000, $alpha: 0);
        padding: 8px 16px;
    
        &:hover {
            color: $color-primary;
            background-color: rgba($color: #000000, $alpha: 0);
            border-color: $color-primary;
        }
    }
    
    // Uses surface-variant color
    &.button-surface-hollow {
        color: $color-on-surface;
        background-color: $color-surface-variant;
        border: 2px solid rgba($color: #000000, $alpha: 0);
        padding: 8px 16px;
    
        &:hover {
            color: $color-primary;
            background-color: rgba($color: #000000, $alpha: 0);
            border-color: $color-primary;
        }
    }

    // Special buttons
    // Login / sign in button
    &.button-sign-in {
        @extend .button-primary;
        border-radius: 5px;
    }
}

section {
    margin: 16px;

    // Has a header
    &.section-header {
        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
    }

    // Has another background color (is full width of window)
    &.section-background {
        background-color: $color-surface;
        margin: 0;
    
        .wrapper {
            padding: 16px 16px;
        }
    }

    // Contains lists of items (used in popular categories section)
    &.section-lists {
        .lists {
            @include displayGrid(225px, 20px);
    
            .list {
                a {
                    color: $color-primary;
                    text-decoration: underline;
                }
    
                p {
                    color: $color-on-surface-variant;
                    font-size: 14px;
                    margin-top: 4px;
                    margin-bottom: 8px;
                }
            }
        }
    
        button:last-child {
            margin-top: 16px;
        }
    }

    // Two panels next to eachother
    &.section-split .content {
        @include displayGrid(300px, 24px);
    
        .text {
            h1 {
                margin-bottom: 8px;
            }
    
            p {
    
                &:last-child {
                    margin-bottom: 16px;
                }
            }
    
            button {
                margin-top: 24px;
            }
        }
    
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
    
            img {
                border-radius: 15px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // Has icons with text
    &.section-icons {
        .icons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
    
            .icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                i {
                    margin-right: 16px;
                    font-size: 32px;
                    background-color: $color-surface-variant;
                    border-radius: 50%;
                    padding: 8px;
                }
    
                p {
                    font-size: 16px;

                    @media screen and (max-width: 960px) {
                        display: none;
                    }
                }
            }
        }
    }
}

// Custom classes

// Wrappers
.wrapper {
    max-width: 960px;
    margin: auto;
}

// Logo / company container
.logo-container {
    display: flex;
    align-items: center;

    &.logo-normal {
        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            h4 {
                font-size: 18px;
            }
    
            p {
                color: $color-surface-variant;
                font-style: italic;
                font-size: 12px;
            }
        }
    
        img {
            margin-right: 16px;
            width: 48px;
            background-color: $color-primary;
            border-radius: 25%;
        }
    }

    &.logo-small {
        img {
            margin-right: 16px;
            width: 32px;
            background-color: $color-primary;
            border-radius: 20%;
        }
    }
}

// Grid and cards
.card-grid {
    @include displayGrid(225px, 20px);
}

.card {
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px $color-shadow;

    &:hover {
        transform: scale(1.02);
        transition: transform 0.1s ease-in;
        box-shadow: 0px 2px 30px $color-shadow;
    }
}

.guide-card {
    height: 350px;
    background-color: $color-surface;
    border-radius: 5%;
    flex: 0 1 30%;
    
    img {
        width: 100%;
        height: 45%;
        display: inline-block;
        object-fit: cover;
    }

    .card-info {
        padding: 0 16px 16px 16px;

        h4 {
            font-size: 18px;
            line-height: 24px;
            color: black;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            color: black;
            margin-bottom: 8px;
        }
    }
}