
footer {
    background-color: $color-footer;
    padding: 16px;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    .columns {
        display: flex;
        justify-content: space-between;

        .column {
            flex: 1;

            .header {
                margin-bottom: 8px;
            }

            .socials {
                color: $color-on-footer;

                i {
                    color: $color-on-footer;
                }
            }
        }
    }

    .copyright {
        font-size: 12px;
        color: $color-on-footer;
        padding-top: 24px;
    }

    @media screen and (max-width: 768px) {
        .columns {
            flex-direction: column;

            .column {
                margin-top: 8px;
                margin-bottom: 16px;
            }
        }
    }
}

