
footer {
    background-color: var(--clr-footer);

    h1, h2, h3, h4, h5, h6 {
        color: var(--clr-on-footer);
    }

    .wrapper {  
        

        a {
            color: var(--clr-on-footer-variant);
            font-size: var(--fs-small);
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
            grid-template-areas: 'company website-links support-links contact';

            .header {
                margin-bottom: 2px;
            }
            
            .company {
                grid-area: company;

                .socials {
                    margin-top: 20px;
                    color: var(--clr-on-footer);
        
                    i {
                        color: var(--clr-on-footer);
                        background-color: var(--clr-on-footer-variant);
                        padding: 4px;
                        border-radius: 5px;
                        margin-right: 4px;
                    }
                }
            }

            .website-links {
                grid-area: website-links;
            }

            .support-links {
                grid-area: support-links;
            }

            .contact {
                grid-area: contact;

                input {
                    color: white;
                    background-color: var(--clr-on-footer-variant);
                }
            }
        }
        
        .legal-information {
            margin-top: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .copyright {
                font-size: var(--fs-smaller);
                color: var(--clr-on-footer-variant);
            }

            .links {
                display: flex;
                justify-content: space-between;

                .link {
                    margin-left: 20px;
                }
            }

            a {
                font-size: var(--fs-smaller);
            }
        }
    }

    @media screen and (max-width: 768px) {
        .wrapper {
            .content {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 'company company' 'website-links support-links' 'contact contact';
                row-gap: 1.2rem;

                .company {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }

            .legal-information {
                flex-direction: column;
                gap: 12px;
            }
        }
    }
}