.slideshow {
    width: 100%;
    margin-inline: auto;
    position: relative;

    .image {
        width: 100%;
        display: none;
        border-radius: 5px;
    }

    .navigation {
        width: 100%;
        text-align: center;
        margin-top: 1rem;

        span {
            cursor: pointer;
            height: 14px;
            width: 14px;
            margin: 0 5px;
            background-color: var(--clr-surface-variant);
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.3s ease;

            &.selected {
                background-color: rgb(172, 172, 172);
            }

            &:hover {
                background-color: var(--clr-primary);
            }
        }
    }
}