
// Colors
$color-primary: #6200ff;//#00ac72;//#C3073F; //#001aff; //#BA0BFA
$color-primary-variant: #950740;//#0013bb;
$color-secondary: #1EFA3B;//#00ffaa;
$color-secondary-variant: #00ac72;
$color-background: #FFFFFF; //1A1A1D
$color-surface: rgb(241, 241, 241);
$color-surface-variant: rgb(211, 211, 211);
$color-error: #C3073F;
$color-error-variant: #950740;
$color-footer: #000000;

$color-on-primary: #FFFFFF;
$color-on-secondary: #1A1A1D;
$color-on-background: #000000;
$color-on-surface: #000000;
$color-on-surface-variant: gray;
$color-on-error: #FFFFFF;
$color-on-footer: #FFFFFF;
$color-shadow: gray;