:root {
    // Main colors
    --clr-primary: #6200ff;
    --clr-light: #FFFFFF;
    --clr-dark: #121213;
    --clr-light-variant: #F1F1F1;
    --clr-text-underline: rgb(126, 126, 126);

    --clr-on-primary: var(--clr-light);

    --clr-background: var(--clr-light);
    --clr-on-background: var(--clr-dark);
    --clr-on-background-variant: var(--clr-primary);

    --clr-surface: var(--clr-light-variant);
    --clr-surface-variant: rgb(211, 211, 211);
    --clr-on-surface: var(--clr-dark);
    --clr-on-surface-variant: var(--clr-text-underline);

    --clr-footer: var(--clr-dark);
    --clr-on-footer: var(--clr-light);
    --clr-on-footer-variant: var(--clr-text-underline);

    --clr-shadow: var(--clr-text-underline);
    --clr-transparent: rgba(255, 255, 255, 0);

    // Fonts
    --ff-paragraph: 'Roboto', sans-serif;
    --ff-header: 'Poppins', sans-serif;
    --ff-company: 'Poppins', sans-serif;
    
    // Font sizes
    --fs-smaller: 0.75rem; // 12px
    --fs-small: 0.875rem;  // 14px
    --fs-medium: 1rem;     // 16px
    --fs-large: 1.125rem;  // 18px
    --fs-larger: 1.5rem;   // 24px

    // Screen sizes
    --ss-wrapper: 60rem;   // 960px
    --ss-small: 768px;

    //https://www.croydon.gov.uk/design-and-content-guidelines/resources/pixel-rem-conversion-table
}