@import "default";
@import "header";
@import "footer";

.faq-info {
    margin-bottom: 1rem;
}

.faq-questions {
    
    .item {
        margin-bottom: 1.5rem;

        .question {
            font-weight: 400;
            color: var(--clr-text-underline);
            margin-bottom: 0.5rem;
        }

        .answer {
            margin-left: 1rem;
        }
    }
}