* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #000000;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

p.under-title {
  color: lightgray;
  font-style: italic;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a.link {
  color: #6200ff;
  text-decoration: underline;
}

img {
  display: block;
}

button {
  border: none;
  font-weight: 700;
  padding: 12px 28px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

button.button-primary, button.button-sign-in {
  color: #f1f1f1;
  background-color: #000000;
}

button.button-primary:hover, button.button-sign-in:hover {
  background-color: #6200ff;
}

button.button-primary-hollow {
  color: #FFFFFF;
  background-color: #6200ff;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 8px 16px;
}

button.button-primary-hollow:hover {
  color: #6200ff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #6200ff;
}

button.button-surface-hollow {
  color: #000000;
  background-color: lightgray;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 8px 16px;
}

button.button-surface-hollow:hover {
  color: #6200ff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #6200ff;
}

button.button-sign-in {
  border-radius: 5px;
}

section {
  margin: 16px;
}

section.section-header .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

section.section-background {
  background-color: #f1f1f1;
  margin: 0;
}

section.section-background .wrapper {
  padding: 16px 16px;
}

section.section-lists .lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

section.section-lists .lists .list a {
  color: #6200ff;
  text-decoration: underline;
}

section.section-lists .lists .list p {
  color: gray;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 8px;
}

section.section-lists button:last-child {
  margin-top: 16px;
}

section.section-split .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

section.section-split .content .text h1 {
  margin-bottom: 8px;
}

section.section-split .content .text p:last-child {
  margin-bottom: 16px;
}

section.section-split .content .text button {
  margin-top: 24px;
}

section.section-split .content .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.section-split .content .image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.section-icons .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

section.section-icons .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.section-icons .icons .icon i {
  margin-right: 16px;
  font-size: 32px;
  background-color: lightgray;
  border-radius: 50%;
  padding: 8px;
}

section.section-icons .icons .icon p {
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  section.section-icons .icons .icon p {
    display: none;
  }
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container.logo-normal .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo-container.logo-normal .text h4 {
  font-size: 18px;
}

.logo-container.logo-normal .text p {
  color: lightgray;
  font-style: italic;
  font-size: 12px;
}

.logo-container.logo-normal img {
  margin-right: 16px;
  width: 48px;
  background-color: #6200ff;
  border-radius: 25%;
}

.logo-container.logo-small img {
  margin-right: 16px;
  width: 32px;
  background-color: #6200ff;
  border-radius: 20%;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.card {
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px gray;
          box-shadow: 0px 1px 10px gray;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -webkit-box-shadow: 0px 2px 30px gray;
          box-shadow: 0px 2px 30px gray;
}

.guide-card {
  height: 350px;
  background-color: #f1f1f1;
  border-radius: 5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.guide-card img {
  width: 100%;
  height: 45%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.guide-card .card-info {
  padding: 0 16px 16px 16px;
}

.guide-card .card-info h4 {
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 8px;
}

.guide-card .card-info p {
  font-size: 16px;
  color: black;
  margin-bottom: 8px;
}

header {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 10px gray;
          box-shadow: 0px 1px 10px gray;
}

header #header-container {
  width: 90%;
  height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #header-container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-container .header-menu nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 24px;
}

header #header-container .header-menu nav .nav-links a {
  padding: 12px 24px;
  margin-left: 16px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

header #header-container .header-menu nav .nav-links a .selected {
  color: #FFFFFF;
  background-color: #950740;
}

header #header-container .header-menu nav .nav-links a:hover {
  color: #6200ff;
}

header #header-container .header-menu .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #header-container .burger {
  cursor: pointer;
  display: none;
}

header #header-container .burger div {
  background-color: #000000;
  width: 35px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header #header-container .logo-container {
    width: 100%;
  }
  header #header-container .header-menu {
    width: 100%;
    z-index: 1;
    padding: 64px;
    position: absolute;
    top: 8vh;
    right: 0;
    height: 92vh;
    background-color: #f1f1f1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    opacity: 1;
  }
  header #header-container .header-menu .nav-links {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #header-container .header-menu .nav-links li {
    width: 100%;
    text-align: right;
    border-bottom: 4px solid #000000;
    opacity: 0;
    padding-bottom: 4px;
    margin-bottom: 32px;
  }
  header #header-container .header-menu .nav-links li:hover {
    border-color: #6200ff;
  }
  header #header-container .header-menu .profile-container {
    position: absolute;
    bottom: 96px;
    opacity: 0;
    float: right;
  }
  header #header-container .header-menu .profile-container button {
    padding: 24px 64px;
    border-radius: 50px;
  }
  header #header-container .header-menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header #header-container .burger {
    display: block;
  }
  header #header-container .burger.active .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  header #header-container .burger.active .line2 {
    opacity: 0;
  }
  header #header-container .burger.active .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

footer {
  background-color: #000000;
  padding: 16px;
  color: white;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: white;
}

footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .columns .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .columns .column .header {
  margin-bottom: 8px;
}

footer .columns .column .socials {
  color: #FFFFFF;
}

footer .columns .column .socials i {
  color: #FFFFFF;
}

footer .copyright {
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 24px;
}

@media screen and (max-width: 768px) {
  footer .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .columns .column {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.slideshow {
  width: 100%;
  margin: auto;
  position: relative;
}

.slideshow .image {
  width: 100%;
  display: none;
  border-radius: 5px;
}

.slideshow .navigation {
  width: 100%;
  text-align: center;
  margin-top: 14px;
}

.slideshow .navigation span {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 4px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.slideshow .navigation span.selected {
  background-color: #acacac;
}

.slideshow .navigation span:hover {
  background-color: #6200ff;
}
/*# sourceMappingURL=index.css.map */